In [ ]:
########################################################

# This Script is scraping CoinMarketCap historical data for top 10 cryptocurrency

##########################################################
import pandas as pd 
import requests
from bs4 import BeautifulSoup

# Dataframe to store the data
df = pd.DataFrame()
date="20221204/"

# convert date list to 20221204 format


# Scraper
# Example : https://coinmarketcap.com/historical/yyymmdd/
def scrape(date, number=5):
    # StoringInfo variables
    name, marketCap, price, circulatingSupply, symbol = [], [], [], [], []
    # URL to scrape
    url = 'https://coinmarketcap.com/historical/'+date
    # Request a website
    webpage = requests.get(url)
    # parse the text
    soup = BeautifulSoup(webpage.text, 'html.parser')

    # Get table row element
    tr = soup.find_all('tr', attrs={'class':'cmc-table-row'})

    count = 0

    for row in tr:
        if count == number:
            break
        else:
            count += 1

            # Store name of the crypto currency
            name_col = row.find('td', attrs={'class':'cmc-table__cell cmc-table__cell--sticky cmc-table__cell--sortable cmc-table__cell--left cmc-table__cell--sort-by__name'})
            cryptoname = name_col.find('a', attrs={'class':'cmc-table__column-name--name cmc-link'}).text.strip()

            # Market cap
            marketcap = row.find('td', attrs={'class':'cmc-table__cell cmc-table__cell--sortable cmc-table__cell--right cmc-table__cell--sort-by__market-cap'}).text.strip()

            # Price
            crytoprice = row.find('td', attrs={'class':'cmc-table__cell cmc-table__cell--sortable cmc-table__cell--right cmc-table__cell--sort-by__price'}).text.strip()

            # Circulating supply and symbol
            circulatingSupplySymbol = row.find('td', attrs={'class':'cmc-table__cell cmc-table__cell--sortable cmc-table__cell--right cmc-table__cell--sort-by__circulating-supply'}).text.strip()
            supply = circulatingSupplySymbol.split(' ')[0]
            sym = circulatingSupplySymbol.split(' ')[1]
            # append the data
            name.append(cryptoname)
            marketCap.append(marketcap)
            price.append(crytoprice)
            circulatingSupply.append(supply)
            symbol.append(sym)
    return name, marketCap, price, circulatingSupply, symbol

# Scraping
name, marketCap, price, circulatingSupply, symbol = scrape(date, number=5)

df['Name']=name
df['Symbol']=symbol
df['Market Cap']=marketCap
df['Price']=price
df['circulating Supply']=circulatingSupply
df.to_csv('coin_market_data.csv')

df.shape


df

       Name Symbol           Market Cap       Price circulating Supply
0   Bitcoin    BTC  $329,323,845,088.74  $17,130.49         19,224,431
1  Ethereum    ETH  $156,669,949,121.35   $1,280.26        122,373,866
2    Tether   USDT   $65,504,085,440.86       $1.00     65,496,215,611
3       BNB    BNB   $46,757,282,793.45     $292.29        159,969,745
4  USD Coin   USDC   $43,408,651,648.57       $1.00     43,407,965,348